# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\idea\2020_3_9\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
